.card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #d9d9d9;
    border-radius: 15px;
    padding: 20px;
    height: 300px;
    margin: 10px 100px 0 100px;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.card:hover {
    box-shadow: 8px 8px 6px #2D4B48;
    transform: translateY(-7px);
}

.content {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: #7BB497;
    color: black;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 12px;
    padding: 6px 18px;
    margin: 10px 850px 10px 0;
    display:inline-block;
}

.description {
    margin-right: 300px;
    margin-top: 10px;
    font-size: 24px;
    font-weight:bold;
    color: black;
    line-height: 1.4;
}

.imgwrapper {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin-left: 100px;
    overflow: hidden;
    border: 7px solid #2D4B48;
    object-fit: cover;
}

.img {
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.search {
    background-color: #d9d9d9;
    height: 75x;
    font-size: 32px;
    margin: 20px 20px 0 20px;
    width: 500px;
    padding: 0 10px;
    border: 7px solid #2D4B48;
    border-radius: 15px;
    text-indent: 10px;
    box-shadow: 2px 8px 4px rgba(0,0,0,0.4);
}

.button {
    background-color: #d9d9d9;
    height: 75x;
    font-size: 24px;
    padding: 0 10px;
    margin: 25px 20px 0 20px;
    border: 7px solid #2D4B48;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 8px 4px rgba(0,0,0,0.4);
}

.favorite {
    color: gray;
    font-size: 24;
    margin: 75px 1100px 10px 0px;
    line-height: 1.4;
}

.favorite:hover {
    color: #2D4B48;
    font-size: 24;
    line-height: 1.4;
    text-decoration: underline;
    cursor: pointer;
}