.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    margin: 10px 0;
    word-wrap: break-word;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.card:hover {
    box-shadow: 8px 8px 6px #2D4B48;
    transform: translateY(-7px);
}

.content {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: 70%;
}

.title {
    background-color: #7BB497;
    color: black;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 12px;
    width: fit-content;
    max-width: 1000px;
    padding: 6px 24px;
    margin: 10px 10px 10px 0;
    display:inline-block;
}

.description {
    margin-top: 10px;
    font-size: 24px;
    font-weight:bold;
    color: black;
    line-height: 1.4;
}

.ingredients {
    margin-top: 10px;
    font-size: 1.2rem;
    color: black;
    line-height: 1.4;
}

.imgwrapper {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    border: 7px solid #2D4B48;
    object-fit: cover;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 20px auto;
    position: relative;
    padding-top: 80px;
  }

  .searchcontainer {
    position: sticky;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
  }
.search {
    background-color: #d9d9d9;
    width: 600px;
    font-size: 32px;
    border: 7px solid #2D4B48;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 8px 8px 12px rgba(0,0,0,0.4);
}

.button {
    height: auto;
    font-size: 32px;
    padding: 10px 20px;
    background-color: #d9d9d9;
    border: 7px solid #2D4B48;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
}

.favorite {
    color: gray;
    font-size: 20;
    margin: 30px 1100px 10px 0px;
    line-height: 1.4;
    white-space: nowrap;

}

.favorite:hover {
    color: #2D4B48;
    font-size: 20;
    line-height: 1.4;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;

}

.yield {
    font-size: 0.8rem;
    color: #666;
  }