.container {
  display: flex;
  flex-direction: column;
  margin: 30px 400px 30px 400px;
  height: 900px;
  background: #D9D9D9;
  padding-bottom: 30px;
  border-radius: 30px;
  animation: fadeIn 3.5s;
  box-shadow: 8px 8px 12px rgba(0,0,0,0.4);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: #5C8966;
  font-size: 48px;
  font-weight: 700;
  background: #2D484b;
  border-top-left-radius: 30px 30px;
  border-top-right-radius: 30px 30px;
  margin:0;
}

.text {
  display:flex;
  flex-direction:row;
  justify-content: start;
  align-items: center;
  font-size: 32px;
  color:black;
}

.underline {
  width: 61px;
  height: 6px;
  background: #5C8966;
  border-radius: 9px;
  margin: 0 0 20px 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 0 100px;
  padding: 50px 40px;
  height: 600px;
  background-color: #7BB497;
  border-radius: 30px;
  box-shadow: 8px 8px 12px rgba(0,0,0,0.4);
}

.input {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 250px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.input p {
  margin: 0px 30px;
}


/*
  .input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #b4b4b4;
    font-size: 19px;
  } 
    */

.forgotpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 27px;
  color: white;
  font-size: 18px;
}

.forgotpassword span {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.submitcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  color: #fff;
  background: #2D484b;
  border-radius: 20px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

/* .gray {
    background: #eaeaea;
    color: #b4b4b4;
  } */

.button {
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 59px;
  color: #fff;
  background: #2D484b;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  margin: auto;
}

.a {
  text-decoration: none;
  color: gray;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}